<div class="page-wrapper">
  <div class="box">
    <div class="page-box">
      <div class="page__menu">
        <include src="../_leftmenu/_leftmenu.html"></include>
      </div><!-- /.page__menu -->
      <div class="page__content">

        <div class="page__content-single">
          <div class="single">
            <div class="single__header single__header-bg"></div><!-- /.single__header single__header-bg -->
            <div class="single__content">
              <h2>Get The Boot A Birds Eye Look</h2>
              <p>Long distance moving is the most challenging of all moves. There are always construction projects and other factors at play with these types of moves. For this you need a team of professional movers to minimize the factors as much as possible. That's why you need to choose a moving company with proven track record. Calstate Moving and Storage has a long established record of safety and in here we never promise a delivery time we cannot meet. We understand that it's your life in limbo until you are set up in your new home or office.</p>
              <p>We can coordinate flawless schedule that ensures you get what you need, when you need it.</p>
            </div><!-- /.single__content -->
          </div><!-- /.single -->
        </div><!-- /.page__content-single -->

        <div class="page__content-right">
          <div class="get-box">
            <div class="get__header">
              <h2>GET A FREE QUOTE FOR <span>LONGDISTANCE MOVING</span></h2>
              <p>Get rates from CalState professional movers today.</p>
            </div><!-- /.get__header -->
            <div class="get__form">
              <form action="" class="get">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Full Name">
                </div><!-- /.form-group -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Phone Number">
                </div><!-- /.form-group -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Email">
                </div><!-- /.form-group -->
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Size Of Move">
                </div><!-- /.form-group -->
                <div class="form-groups form-groups-zip">
                  <div class="zip-header">
                    <label>ZIP CODE:</label>
                  </div><!-- /.zip-header -->
                  <div class="form-group-inline">
                    <input type="text" class="form-control" placeholder="From">
                    <input type="text" class="form-control" placeholder="To">
                  </div><!-- /.form-group-inline -->
                </div>
                <!-- /.form-groups form-groups-zip -->
                <div class="form-group">
                  <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your Message"></textarea>
                </div><!-- /.form-group -->
                <div class="form-group form-group-btn">
                  <button type="submit" class="button form-buttom">SUBMIT <span>NOW</span></button><!-- /.button form-buttom -->
                </div><!-- /.form-control -->
              </form><!-- /.get -->
            </div><!-- /.get__form -->
          </div><!-- /.get-box -->
        </div><!-- /.page__content-right -->

      </div><!-- /.page__content -->
    </div><!-- /.page-box -->
  </div><!-- /.box -->
</div><!-- /.page-wrapper -->
