@charset 'utf-8'

@import 'helpers/normalize.sss'
@import 'helpers/variables.sss'
@import 'base/default.sss'
@import 'base/typo.sss'
@import 'base/form.sss'

@import '../templates/blocks/_statusbar/_statusbar.sss'
@import '../templates/blocks/_header/_header.sss'
@import '../templates/blocks/_headline/_headline.sss'
@import '../templates/blocks/_page/_page.sss'
@import '../templates/blocks/_page-single/_page-single.sss'
@import '../templates/blocks/_leftmenu/_leftmenu.sss'
@import '../templates/blocks/_footer/_footer.sss'

@import '../templates/blocks/_contacts/_contacts.sss'
@import '../templates/blocks/_404/_404.sss'

@import '../templates/blocks/_faq/_faq.sss'

@import '../templates/blocks/_special/_special.sss'

@import '../templates/blocks/_page-single2/_page-single2.sss'

@import '../templates/blocks/_about/_about.sss'
@import '../templates/blocks/_about/_customersreviews/_customersreviews.sss'
@import '../templates/blocks/_about/_movesamonth/_movesamonth.sss'
@import '../templates/blocks/_about/_weenjoyed/_weenjoyed.sss'
@import '../templates/blocks/_about/_whotrustus/_whotrustus.sss'
@import '../templates/blocks/_about/_whychooseus/_whychooseus.sss'

.box
  lost-center: 1170px

// слой для сравнения дизайна и вёрстки
.px2px
  position: absolute
  top: 0
  left: 50%
  z-index: 9999
  display: block
  //width: width('test/px2px.png')
  //height: height('test/px2px.png')
  //margin: 0 0 0 width('test/px2px.png', -2)
  pointer-events: none
  transition: all .3s
  opacity: .4
  //background-image: resolve('test/px2px.png')
  background-attachment: scroll
  filter: invert(100%)
