<div class="statusbar">
  <div class="box">
    <div class="statusbar-box">
      <div class="statusbar__menu">
        <ul class="statusbar-menu">
          <li class="statusbar-menu__item"><a href="" class="statusbar-menu__link">ABOUT CALSTATE</a></li>
          <li class="statusbar-menu__item"><a href="" class="statusbar-menu__link">BLOG</a></li>
          <li class="statusbar-menu__item"><a href="" class="statusbar-menu__link">FAQ</a></li>
        </ul>
      </div><!-- /.statusbar__menu -->
      <div class="statusbar__geo">
        <div class="location">
          <div class="location__text">Your Location</div><!-- /.location__text -->
          <div class="location__select"></div><!-- /.location__select -->
        </div><!-- /.location -->
      </div><!-- /.statusbar__geo -->
    </div><!-- /.statusbar-box -->
  </div><!-- /.box -->
</div><!-- /.statusbar -->
