<div class="page-wrapper">
  <div class="box">
    <div class="page-box">
      <div class="page__menu">
        <include src="../_leftmenu/_leftmenu.html"></include>
      </div><!-- /.page__menu -->
      <div class="page__content">

        <div class="page__content-line">
          <div class="local-list">
            <div class="local__item">
              <div class="local-box">
                1
              </div>
            </div>
            <div class="local__item">
              <div class="local-box">
                1
              </div>
            </div>
          </div>
        </div><!-- /.row -->

        <div class="page__content-line">
          <div class="local-list-one local__item">
            <div class="local-box">
              2
            </div>
          </div>
        </div><!-- /.row -->

      </div><!-- /.page__content -->
    </div><!-- /.page-box -->
  </div><!-- /.box -->
</div><!-- /.page-wrapper -->
