.wee
  text-align: center
  padding-top: 100px
  h2
    font-size: 20px
    font-weight: bold
    line-height: 1
    text-align: center
  a
    width: 220px
    height: 54px
    border-radius: 1px
    background-color: #2e8ccf
    font-size: 13px
    letter-spacing: -0.4px
    text-align: center
    padding-top: 16px
    color: #ffffff
    display: block
    margin: 0 auto
    text-transform: uppercase
    margin-top: 27px
    span
      font-weight: 600
