<div class="page-wrapper">
  <div class="box">
    <div class="faq-page">
      <div class="faq">

        <div class="faq__item">
          <div class="faq-box faq-box-top">
            <div class="faq__q">
              <h2>Your wedding day is important, nobody needs to remind you of that. You are going to be the center of attention (at long last!) as all eyes?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content">
              <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? First off, you will need to set a budget for your new purchase before deciding whether to shop for notebook or desktop computers.</p>
            </div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>You have just invested in a new vehicle, the one of your dreams, and you take it on a trip across Canada?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box faq-box-bottom">
            <div class="faq__q">
              <h2>Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun”</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

      </div><!-- /.faq -->
      <div class="faq-add">
        <h2>Your question is not listed?<br>Write to us and our manager will answer you.</h2>
        <a class="add-question-modal" href="#add-faq">ASK <span>A QUESTION</span></a>
      </div><!-- /.add-q -->
    </div><!-- /.faq-page -->
  </div><!-- /.box -->
</div><!-- /.page-wrapper -->

<div id="add-faq" class="zoom-anim-dialog mfp-hide">
  <div class="add-question">
    <h2>Adding a question</h2>
    <div class="add-question-form">
      <form action="" class="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Full Name">
        </div><!-- /.form-group -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email">
        </div><!-- /.form-group -->
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Your Message"></textarea>
        </div><!-- /.form-group -->
        <div class="form-group form-group-btn">
          <button type="submit" class="button form-buttom">TO <span>SEND</span></button><!-- /.button form-buttom -->
        </div><!-- /.form-control -->
      </form><!-- /.get -->
    </div><!-- /.add-question-form -->
	</div><!-- /.add-question -->
  <button title="Close (Esc)" type="button" class="mfp-close _mfp-close"><svg width="28" height="28" viewBox="0 0 28 28" xmlns="http://www.w3.org/2000/svg"><path d="M25.314 2.352L2.719 24.946m22.595.034L2.719 2.384" stroke="#ffffff" stroke-width="3" fill="none" stroke-linecap="square"/></svg></button>
</div>
