<div class="page-wrapper">
  <div class="box">
    <div class="faq-page">
      <div class="faq">

        <div class="faq__item">
          <div class="faq-box faq-box-top faq-box-open">
            <div class="faq__q">
              <h2>Your wedding day is important, nobody needs to remind you of that. You are going to be the center of attention (at long last!) as all eyes?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content">
              <p>If you are in the market for a computer, there are a number of factors to consider. Will it be used for your home, your office or perhaps even your home office combo? First off, you will need to set a budget for your new purchase before deciding whether to shop for notebook or desktop computers.</p>
            </div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>Photographs are a way of preserving a moment in our lives for the rest of our lives. Many of us have at least been tempted at the flashy?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>Sony laptops are among the most well known laptops on today’s market. Sony is a name that over time has established?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box">
            <div class="faq__q">
              <h2>You have just invested in a new vehicle, the one of your dreams, and you take it on a trip across Canada?</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

        <div class="faq__item">
          <div class="faq-box faq-box-bottom">
            <div class="faq__q">
              <h2>Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun”</h2>
            </div><!-- /.faq__q -->
            <div class="faq__content"></div><!-- /.faq__content -->
          </div><!-- /.faq-box -->
        </div><!-- /.faq__item -->

      </div><!-- /.faq -->
      <div class="faq-add">
        <h2>Your question is not listed?<br>Write to us and our manager will answer you.</h2>
        <a href="">ASK <span>A QUESTION</span></a>
      </div><!-- /.add-q -->
      <div class="faq__content"></div><!-- /.faq__content -->
    </div><!-- /.faq-page -->
  </div><!-- /.box -->
</div><!-- /.page-wrapper -->
