<footer class="footer">
  <div class="box">
    <div class="footer-box">
      <div class="footer__item">
        <div class="footer__item-box footer__item-box__totop">
          <div class="footer-logo">
            <img src="assets/images/logo.png" alt="" width="" height="">
          </div>
          <div class="copyright">
            <p class="copyright-text">Copyrights © 2013-2014<br>calstatemoving.com by Noxberry.<br>License number: 0190811</p>
          </div>
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box footer__item-box__totop">
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">About Calstate</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Blog</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">FAQ</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Careers</a></li>
          </ul>
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          <h3>Moving Services</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Local Moving</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Long Distance Moving</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">International Moving</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Moving Labor</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Commercial Moving</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Corporate Relocation</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Goverment & Military Moving</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Spetial Items Moving</a></li>
          </ul>
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          <h3>Storage Services</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Self Storage</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Business Storage</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Packing & Unpacking</a></li>
          </ul>
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          <h3>Buy Supplies</h3>
          <ul class="footer-menu">
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Moving Kits</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Moving Boxes</a></li>
            <li class="footer-menu__item"><a href="" class="footer-menu__link">Moving Suplies</a></li>
          </ul>
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

      <div class="footer__item">
        <div class="footer__item-box">
          я колонка в подвале а ты нет
        </div><!-- /.footer__item-box -->
      </div><!-- /.footer__item -->

    </div><!-- /.footer-box -->
  </div><!-- /.box -->
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="assets/scripts/scripts.js"></script>
<!-- <script src="assets/scripts/vendor.js"></script> -->
