<!--
  <div class="px2px"></div>
-->
<header class="header">
  <div class="box">
    <div class="header-box">
      <div class="header__logo">
        <img src="assets/images/logo.svg" alt="" width="162" height="57">
      </div>
      <nav class="header__nav">
        <ul class="header-menu">
          <li class="header-menu__item header-menu__item-active"><a href="" class="header-menu__link">Moving Services</a></li>
          <li class="header-menu__item"><a href="" class="header-menu__link">Storage Services</a></li>
          <li class="header-menu__item"><a href="" class="header-menu__link">Buy Supplies</a></li>
          <li class="header-menu__item"><a href="" class="header-menu__link">Special Offers</a></li>
          <li class="header-menu__item"><a href="" class="header-menu__link">Contact Us</a></li>
        </ul>
      </nav>
      <div class="header__tel">
        <div class="tel-box">
          <span class="tel-box__ico"></span>
          <a href="tel:+18008881508" class="tel-box__link">800&nbsp;888&nbsp;1508</a>
        </div>
      </div>
    </div><!-- /.header__box -->
  </div><!-- /.box -->
</header><!-- /.header -->
