<div class="page-wrapper">
  <div class="box">
    <div class="blog-page">

      <div class="blog-list">

        <div class="blog__post blog__post1">
          <div class="blog__post-header">
            <h2>Addiction When Gambling<br>Becomes A Problem.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post1 -->

        <div class="blog__post blog__post2">
          <div class="blog__post-header">
            <h2>Myspace Layouts <br>The Missing Element.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post2 -->

        <div class="blog__post blog__post3">
          <div class="blog__post-header">
            <h2>Party Jokes Startling <br>But Unnecessary.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post3 -->

        <div class="blog__post blog__post4">
          <div class="blog__post-header">
            <h2>Addiction When Gambling<br>Becomes A Problem.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post4 -->

        <div class="blog__post blog__post5">
          <div class="blog__post-header">
            <h2>5 Tips For Offshore <br>Software Development.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post5 -->

        <div class="blog__post blog__post6">
          <div class="blog__post-header">
            <h2>Not All Blank Cassettes <br>Are Created Equal.</h2>
          </div><!-- /.blog__post-header -->
          <div class="blog__post-footer">
            <div class="post-date">25.12.2016</div><!-- /.post-date -->
          </div><!-- /.blog__post-footer -->
        </div><!-- /.blog__post blog__post6 -->

      </div><!-- /.blog-list -->

      <nav class="blog-navigation">
        <ul class="pagination">
          <li class="pagination__item pagination__item-previous">
            <a href="#">
              <span class="ico-previous">&laquo;</span>
            </a>
          </li>
          <li class="pagination__item"><a href="#">1</a></li>
          <li class="pagination__item pagination__item-active"><a href="#">2</a></li>
          <li class="pagination__item"><a href="#">3</a></li>
          <li class="pagination__item"><a href="#">4</a></li>
          <li class="pagination__item"><a href="#">5</a></li>
          <li class="pagination__item"><span>...</span></li>
          <li class="pagination__item"><a href="#">15</a></li>
          <li class="pagination__item pagination__item-next">
            <a href="#">
              <span class="ico-next">&raquo;</span>
            </a>
          </li>
          <li class="pagination__item pagination__item-last">
            <a href="#">
              <span class="ico-last">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div><!-- /.blog-page -->
  </div><!-- /.box -->
</div><!-- /.page-wrapper -->
