<ul class="left-menu">
  <li class="left-menu__item"><a href="" class="left-menu__link">Local Moving</a></li>
  <li class="left-menu__item left-menu__item-active"><a href="" class="left-menu__link">Long Distance Moving</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">International Moving</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">Moving Labor</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">Commercial Moving</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">Corporate Relocation</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">Government & Military Moving</a></li>
  <li class="left-menu__item"><a href="" class="left-menu__link">Special Items Moving</a></li>
</ul>
