<div class="home">
  <include src="_lead/_lead.html"></include>
  <include src="_movesamonth/_movesamonth.html"></include>
  <include src="_whychooseus/_whychooseus.html"></include>
  <include src="_prices/_prices.html"></include>
  <include src="_customersreviews/_customersreviews.html"></include>
  <include src="_whotrustus/_whotrustus.html"></include>
  <include src="_locations/_locations.html"></include>
  <include src="_newsletter/_newsletter.html"></include>
  <include src="_blogspost/_blogspost.html"></include>
  <include src="_get/_get.html"></include>
</div><!-- /.home -->
