.about
  background-color: #F6F6F6
  padding-top: 100px
  padding-bottom: 100px
  h2
    font-size: 30px
    font-weight: bold
    line-height: 0.7
    text-align: center
    color: #000000
    text-transform: uppercase
    span
      color: #2f7db5
