<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Blog single" description="Blog single description"></include>
  <body>
    <include src="blocks/_statusbar/_statusbar.html"></include>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline.html" class="headline-blog-single" h1="Addiction When Gambling Becomes A Problem."></include>
    <include src="blocks/_blog-single/_blog-single.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
