<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Contact us" description="Contact us description"></include>
  <body>
    <include src="blocks/_statusbar/_statusbar.html"></include>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline.html" class="headline-contacts" h1="Contact us"></include>
    <include src="blocks/_contacts/_contacts.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
