<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="CalState template title" description="CalState page description"></include>
  <body>
    <include src="blocks/_statusbar/_statusbar.html"></include>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline.html" class="headline-services" h1="Moving Services"></include>
    <include src="blocks/_page/_page.html"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
