<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Services single (Long distance moving)" description="Services single (Long distance moving) page description"></include>
  <body>
    <include src="blocks/_statusbar/_statusbar.html"></include>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline.html" class="" h1="Long distance moving"></include>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
