<!DOCTYPE html>
<html lang="ru" class="no-js">
  <include src="base/_head.html" title="Special Offers" description="Special Offers description"></include>
  <body>
    <include src="blocks/_statusbar/_statusbar.html"></include>
    <include src="blocks/_header/_header.html"></include>
    <include src="blocks/_headline/_headline.html" class="headline-special" h1="Special Offers"></include>
    <div class="page-wrapper">
      <div class="box">
        <div class="spec">
          <div class="box spec-box-line">
            <div class="col8">
              <div class="spec-box">3</div>
            </div>
            <div class="col4">
              <div class="spec-box">2</div>
            </div>
          </div>
          <div class="box">
            <div class="col4">
              <div class="spec-box">1</div>
            </div>
            <div class="col8">
              <div class="spec-box">1</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <include src="blocks/_footer/_footer.html"></include>
  </body>
</html>
